.fondo{
    background: #2d9ac4;
    background: linear-gradient(90deg,rgba(45, 154, 196, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(212, 196, 53, 1) 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    transition: all 2s ease;
}
#figura{
    display: block;
    background: black;
    width: 50px;
    height: 50px;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control{
    color:black !important;
}